# Exports

export(SSGL)
export(SSGL_cv)
export(SSGL_gibbs)


# Imports
importFrom(grpreg,grpreg)
importFrom(stats,sd,quantile,rnorm,rbinom,rbeta)
importFrom(caret,createFolds)
importFrom(MASS,mvrnorm)
importFrom(Matrix,chol2inv,chol)
importFrom(GIGrvg,rgig)
importFrom(BayesLogit,rpg)